* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

@keyframes move180 {
    0% {  
        transform: rotateY(180deg);
    }
}

@keyframes move360 {
    0% {  
        transform: rotateY(360deg);
    }
}


.testeHide {
    backface-visibility: hidden;
}

.teste180 {
    animation: move180 2s;
}

.teste360 {
    animation: move360 2s;
}

.teste180Fixo {
    transform: rotateY(180deg);
}

.custom-hidden {
    width: 0px !important;
    height: 0px !important;
    visibility: hidden !important;
}
  
/* Card with image and information */

.custom-card-list {
    margin-bottom: -80px;
    min-width: 500px;
    max-width: 500px;
    min-height: 251.7px;
    max-height: 251.7px;
}

.custom-card-item .front {
    margin-left: 0px;
    margin-right: 20px;
    position: relative;
}

.custom-card-item .back {
    margin-left: 0px;
    margin-right: 20px;
    position: relative;
}

.custom-card-item {
    margin-left: 37px;
    margin-right: 30px;
    position: relative;
    
}

.border {
    border: 3px solid rgba(255, 255, 255, 0.65);
    border-radius: 3px;
}

/* Front - Card with image and information */

.custom-card-item__cover {
    position: absolute;
}

.custom-card-item__wrapper {
    position: relative;
    padding-top: 20px;
    padding-left: 25px;
    color: #fff;
}

.custom-card-item__top{
    font-size: 10px;
    margin-bottom: 40px;
}

.custom-card-item__number {
    font-size: 27px;
    margin-bottom: 35px;
    width: 80%;
    max-height: 40px;
}

.custom-card-item_name {
    width: 70%;
}

.custom-card-item__content {
    font-size: 15px;
}

.custom-full-name {
    height: 45px;
}

.custom-card-image {
    border-radius: 20px;
}

/* Back - Card with image and information */
.custom-target {
    background: rgba(0, 0, 0, 1);
    width: 104%;
    height: 50px;
    margin-top: 30px;
    position: relative;
    z-index: 2;
}

.custom-card-cvv {
    text-align: right;
    margin-left: 10px;
}

.logo-back {
    margin-top: 20px;
}

.custom-cvv-value {
    background: #fff; 
    opacity: 0.7;
    border-radius: 10px;
    min-height: 40px;
    color: black;
    font-size: 14px;
}

.custom-card-item__wrapper-back {
    position: relative;
    padding-top: 20px;
    color: #fff;

}

/* Card with inputs */
.custom-information-card-container {
    min-width: 500px;
    max-width: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding: 35px;
    padding-top: 150px;
    box-shadow: 10px 20px 15px -7px rgba(32, 56, 117, 0.75);
    border: solid black 1px;
}


.custom-input-year {
    margin-top: 4px;
}
